@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;700&display=swap');

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  padding: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #273864;
  color: #f0ffff;
  font-family: 'Cormorant Unicase', serif;
}

.title {
  position: absolute;
  top: 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.selection-container {
  display: flex;
  flex-direction: column;
}
